@import "../styles/styles.scss";

.names {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin-top: 3vh;
  width: fit-content;
}

.name-page {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 90vw;
}

.name-card {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  box-shadow:         3px 5px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -moz-box-shadow:    3px 5px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  -webkit-box-shadow: 3px 5px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  color: black;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin-top: 30vh;
  width: 40vh;
}

input {
  height: 4vh;
  text-align: center;
  width: 20vw;
}

a {
  height: 4vh;
  font-size: 3vh;
  font-style: $bodyFont;
  width: 10vw;
}