@import "../styles/styles.scss";

.names {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 90vw;
}

.name-page {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.name-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 2em;
  border-radius: 3px;
  box-shadow: $glow-white;
  min-height: 358.8px;
}

input {
  height: 4vh;
  text-align: center;
  width: 20vw;
}

// a {
//   height: 4vh;
//   font-size: 3vh;
//   font-style: $bodyFont;
//   width: 10vw;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   margin-top: 13%;
// }