@import "../styles/styles.scss";

.votes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3vh;
  width: 80vw;
}

.vote {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  margin-top: 30vh;
  width: 20vw;
  -webkit-box-shadow: 3px 5px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 5px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 5px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.vote-page {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 90vw;
}

button, a {
  border-radius: 3px;
  font-size: large;
  height: 5vh;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  height: fit-content;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}