@import "../styles/styles.scss";

// div {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: darkblue;
//   height: 100%;
//   width: 100%;
// }

// h2 {
//  font-size: 40%;
//  position: relative;
//  color: $main;
// //  text-shadow: $glow-white;
// }

.debate {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  // z-index: 1;
}

.debator {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.debator-names {
  align-items: center;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: row;
  font-family: $headerFont;
  font-size: 5vh;
  height: 10vh;
  justify-content: space-between;
  width: 90vw;
  margin-top: 8%;
}

.debate-stage {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: $bodyFont;
  font-size: 5vh;
  height: 40vh;
  justify-content: space-evenly;
  width: 90vw;
}

.topic-one-card, .topic-two-card {
  align-items: center;
  // background-color: cornflowerblue;
  // border-radius: 50%;
  display: flex;
  flex-direction: column;
  // height: 300px;
  justify-content: center;
  margin-top: 10%;
  position: relative;
  // width: 300px;
}

// .topic-two-card {
//   align-items: center;
//   background-color: darkred;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.judges-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $header;
  font-size: 5vh;
  width: 100vw;
  color: $main;
  text-shadow: $glow-white;
}

.judge {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: center;
  width: 10vw;
  color: black;
  text-shadow: none;
}

.judge-names {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-size: 3vh;
  justify-content: space-between;
  width: 40vw;
}

.player-one-name, .player-two-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  justify-content: center;
  width: inherit;
  text-shadow: $glow-blue;
  color: $blue;
  margin-bottom: 12%;
}

.player-two-name {
  text-shadow: $glow-red;
  color: $red;
  margin-left: 10vw;
}

.clock {
  align-items: center;
  display: flex;
  flex-direction: column;
  // font-size: large;
  justify-content: center;
  // max-height: 100vh;
  // min-width: 200px;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.error-page {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

// .react-countdown-clock {
//   background-color: white;
//   border-radius: 50%;
//   opacity: 85%;
//   position: relative;
//   width: 100vw;
//   z-index: 2;
// }

// .topic-img {
//   margin-top: 10vh;
//   display: flex;
//   width: 100vw;
//   height: 100vh;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
// }

img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: $glow-white;
}

.debate-button {
  display: flex;
  max-width: 180px;
  min-width: 180px;
  min-height: 180px;
  font-size: xx-large;
  color: white;
  border: 1px solid white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 20px;
  // color: white;
}

.value {
  font-size: 40px;
}

div {
  z-index: 1;
}