@import "../styles/styles.scss";

// div {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: darkblue;
//   height: 100%;
//   width: 100%;
// }

h2 {
 font-size: 40%;
 position: relative;
}

.debate {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  z-index: 1;
}

.debator {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.debator-names {
  align-items: center;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: row;
  font-family: $headerFont;
  font-size: 5vh;
  height: 10vh;
  justify-content: space-between;
  width: 90vw;
}

.debate-stage {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: $bodyFont;
  font-size: 5vh;
  height: 55vh;
  justify-content: space-evenly;
  width: 90vw;
}

.topic-one-card, .topic-two-card {
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-top: 10%;
  position: relative;
  width: 300px;
}

.topic-two-card {
  align-items: center;
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.judges-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $headerFont;
  font-size: 5vh;
  width: 100vw;
}

.judge {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: center;
  width: 10vw;
}

.judge-names {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-size: 3vh;
  justify-content: space-between;
  width: 40vw;
}

.player-one-name, .player-two-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  justify-content: center;
  width: inherit;
}

.player-two-name {
  margin-left: 10vw;
}

.clock {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  max-height: 100vh;
  min-width: 200px;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.error-page {
  align-items: center;
  background-color: $offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

.react-countdown-clock {
  background-color: white;
  border-radius: 50%;
  opacity: 85%;
  position: relative;
  width: 100vw;
  z-index: 2;
}