@import "../styles/styles.scss";

nav {
  align-items: baseline;
  background-color: white;
  border-bottom: 5px solid black;
  border-top: 3vh solid white;
  display: flex;
  flex-direction: row;
  font-family: $headerFont;
  font-size: 7vh;
  justify-content: center;
  width: 90vw;
}

.stars {
  height: 5vh;
}
