@import "../styles/styles.scss";

nav {
  align-items: baseline;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: row;
  font-family: $header;
  font-size: 10vh;
  justify-content: center;
  width: 100vw;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
    font-family: $header;
    color: $main;
    text-shadow: $glow-white;
    background-color: black;
  }
